body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.campo-batalla {
background-image: url(http://www.intrawallpaper.com/static/images/White-Background-BD1.png);
background-size: cover;
min-height: 100vh;
}

.player {
    max-height: 200px;
    max-height: 200px;
}

.player2{
    max-height: 200px;
    max-height: 200px;
    position: relative;
    left: 200px;
    
}

